 <section class='hero'>
        <div class='header-color hero-body'>
            <div class='container'>
                <span class='has-text-centered'>
                <img class="has-image-centered" src="../images/shelfie.png" alt="shelfie"
                    style="width:250px;height:250px;">
                <p class='subtitle has-text-centered has-text-light'>
                    Your personal virtual library!
                </p>
            </span>

            </div>
        </div>
    </section>
    <br>
    <br>
 <!-- form -->
    <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
                <form class="login">
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input id="loginUser" class="input is-rounded" type="text" placeholder="Username">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input id="loginPass" class="input is-rounded" type="password" placeholder="Password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                    <!-- signup/login buttons -->
                    <div class="section has-text-centered">
                        <button id="loginBtn" class="button is-large is-primary">Login</button>
                         </form>
                        <br>
                        <br>
                    <p><a href="/signup">Sign up here!</a></p>
                    </div>
                </div>
            </div>
        </div>
<script type="text/javascript" src="js/login.js"></script>
