<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Shelfie</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css'>
    <link rel='stylesheet' href='/assets/css/style.css' type='text/css' />
    <script defer src='https://use.fontawesome.com/releases/v5.3.1/js/all.js'></script>
    <script src='https://code.jquery.com/jquery.js'></script>
    <script src='/assets/js/#.js'></script>
</head>
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<body>
    <section class='hero has-background-black'>
        <div class='hero-body'>
            <div class='container'>
                <h3 class='subtitle has-text-right has-text-primary'>
                    {{Username}}
                </h3>
                <h1 class='title center has-text-light'>
                    Shelfie
                </h1>
                <p class='subtitle center has-text-light'>
                    A personal library app.
                </p>

            </div>
        </div>
    </section>
    <br>
    <br>

 <!-- Book MODAL -->

    <div class='modal' id='bookModal'>
        <div class='modal-background'></div>
        <div class='header'>
            <button class='modal-close is-large' aria-label='close'></button>
        </div>
        <div class='section'>
            <div class='modal-content'>
                <div class='section modal-wrap'>
                    <div class='columns'>
                        <div class='column'>
                            <img src='https://via.placeholder.com/300x350'>
                        </div>
                        <div class='column'>
                            Title:
                            <br>
                            Author:
                            <br>
                            Description:
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- book links -->
    <div class='shelf section center'>
        <div class='columns'>
            <div class='column has-text-center'>
                <div class='has-text-center'><img id='bookLink' src='https://via.placeholder.com/150x200'></div>
                <div class='has-text-center'>Title:</div>
                <div class='has-text-center'>Author:</div>
            </div>
        </div>

        <!-- </div> -->

        <script src='books.js'></script>
</body>

</html>