.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
body{
	background-color: #ffffff;
}
#username{ 
	text-transform: uppercase;
	color: #ffffff;
	background-color: #4ecdc4;
}

.header-color{
	background-color: #4ecdc4;
}

#loginBtn, #signUpBtn{
	background-color: #4ecdc4;
}

.has-image-centered {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

  a.button, #searchBtn{
	display:inline-block;
	padding:0.46em 1.6em;
	/* border:0.1em solid #dbdbdb; */
	margin:0 0.2em 0.2em 1.2em;
	border-radius:0.20em;
	box-sizing: border-box;
	text-decoration:none;
	
	font-weight:300;
	color:#000000;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	background-color:#FFFFFF;
	text-align:center;
	transition: all 0.15s;
	}
	a.button:hover{
	text-shadow: 0 0 2em rgba(255,255,255,1);
	color:#FFFFFF;
	border-color:#FFFFFF;
	}
	#searchBtn:hover{
		text-shadow: 0 0 2em rgba(255,255,255,1);
		color:#4ecdc4;
		border-color:#4ecdc4;
		}

.shelf{
	background-color: #4ecdc4;
	color: #ffffff;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.random {
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

h3{
	text-align: center;
}