.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
body{
	background-color: #ffffff;
}
#username{ 
	text-transform: uppercase;
	color: #ffffff;
	background-color: #4ecdc4;
}

.header-color{
	background-color: #4ecdc4;
}

.has-image-centered {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

  a.button{
	display:inline-block;
	padding:0.46em 1.6em;
	border:0.1em solid #000000;
	margin:0 0.2em 0.2em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#000000;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	background-color:#FFFFFF;
	text-align:center;
	transition: all 0.15s;
	}
	a.button:hover{
	text-shadow: 0 0 2em rgba(255,255,255,1);
	color:#FFFFFF;
	border-color:#FFFFFF;
	}
/* @media all and (max-width:30em){
	a.button5{
	display:block;
	margin:0.4em auto;} */

.shelf{
	background-color: #4ecdc4;
	color: #ffffff;
	display: inline-block;
}